body {
  background: #cccccc;
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
  margin:auto;
  font-family:Arial,sans-serif;
}
a, a:link, a:visited {
  text-decoration:none;
}
/*
header{
  float: left;
  width: auto;

}
*/
nav {
  border: 3px #aaa outset;
  text-align: center;
  background: #efefef;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 700px;
  width: 100%;
  min-height: 25px;
}

#wrapper{
    width: 960px;
    margin: 0 auto;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical; 
}

#inne{
  float: left;
  width: 200px;
}

#belkaboczna
{
    float: left;
    width: 200px;
    margin-left: -960px;
    background-color: #D5E6F8;
    outline: 2px dashed #E2E3E4;
}
#belkaboczna p{
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
#belkaboczna li{
  outline: 1px dashed;
}
*/
h3.kategorie{
    margin: 0px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    list-style-type: none;
    font-weight: bold;
    font-size: 0.81em;
    padding: 0px;
        padding-top: 0px;
        padding-right-value: 0px;
        padding-bottom: 0px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}


h3.kategorie {
  background-color:#aacad2;
  color: #FFF;
  font-weight: bold;
  font-size: 0.88em;
  margin: 0px;
  padding-left: 6px;
}



span.el_menu {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
/*  color: brown; */
}
span.el_menu :hover {
  background: white;
}
div#tresc {
  float: left;
  width: 520px;
  margin-top: 0;
  margin-left: 220px;
  margin-right: 20px;
}
footer{
  background-color: #555;
  position: absolute;
  left: 2em;
  bottom: 10px;
  width: auto;
}
/* opracowane wartości dla artykułów  */
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}