body {
  background: #cccccc;
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
}
nav {
  border: 3px #aaa outset;
  text-align: center;
  background: #efefef;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 700px;
  width: 100%;
  min-height: 25px;
}
#belkaboczna{
position: fixed;
top: 130px;
left: 0px;
padding: 10px;
list-style: none outside none;
background: linear-gradient(#555, #444 50%, #333 50%, #111) repeat scroll 0% 0% transparent;
border-width: 2px 2px 2px 0px;
border-style: solid;
border-color: #777 #888 #999;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
box-shadow: 7px 0px 10px -5px #888;

}
span.el_menu {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
/*  color: brown; */
}
span.el_menu :hover {
  background: white;
}
div#tresc {
  position: fixed;
  top: 41px;
  bottom: 0px;
  overflow: auto;
}
footer{
  background-color: #555;
  position: fixed;
  left: 2em;
  bottom: 10px;
  width: auto;
}
/* opracowane wartości dla artykułów  */
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}